{
  "openapi": "3.1.0",
  "info": {
    "title": "Enode API",
    "version": "2024-01-01",
    "description": "The Enode API is designed to make smart charging applications easy to develop. We provide an abstraction layer that reduces the complexity when extracting vehicle data and sending commands to vehicles from a variety of manufacturers.\nThe API has a RESTful architecture and utilizes OAuth2 authorization.",
    "license": {
      "name": "Enode Commercial License",
      "url": "https://enode.io"
    }
  },
  "tags": [
    {
      "name": "Chargers",
      "description": "EV Chargers provide charging data and can be controlled via [Control Charging](/api/reference#controlChargerCharging) and [Schedules](/docs/scheduling)"
    },
    {
      "name": "Charging Locations",
      "description": "A user creates charging locations to denote locations where they pay for the power used to charge their vehicle, heat their home, etc. Smart Charging is active at these locations only."
    },
    {
      "name": "Interventions",
      "description": "Endpoints that return information about interventions. More information and examples are available in the [Interventions](/docs/interventions) guide."
    },
    {
      "name": "Locations",
      "description": "Locations are used to assign devices to a geographical group. This is useful when running schedules, smart charging, or smart heating, as target behavior usually depends on a common locality of demand (charging, heating, cooling, etc.) and supply (tariff, battery, inverter, etc.) of energy."
    },
    {
      "name": "Experimental",
      "description": "Endpoint is not stable and may change without notice. Do not use in production applications."
    },
    {
      "name": "HVAC",
      "description": "HVAC units (heaters, heat pumps, air conditioning, thermostats, etc.) are controlled by altering the mode & target setpoints. This can be done directly using the [Set Permanent Hold](/api/reference#postSetHvacPermanentHold) endpoint, [Return to Schedule](/api/reference#postSetHvacFollowSchedule), or via [Schedules](/docs/scheduling)."
    },
    {
      "name": "Me",
      "description": "The `Me` endpoint returns metadata about the authenticated User."
    },
    {
      "name": "Schedules",
      "description": "Endpoints to manage schedules for Vehicles, Chargers and HVACs. \n\nMore information and examples are available in the [Scheduling](/docs/scheduling) guide."
    },
    {
      "name": "Service Health",
      "description": "Endpoints that return information about the health of Enode and our integrations."
    },
    {
      "name": "Solar inverters",
      "description": "Solar inverters can be queried for current production state"
    },
    {
      "name": "Statistics",
      "description": "Endpoints returning timeseries data collected from linked devices."
    },
    {
      "name": "Tariffs",
      "description": "Use the Tariffs API to submit pricing information to Enode. These prices will be preferred over market prices in Enode's smart products, like [Smart HVAC](https://developers.enode.com/api/reference#updateHvacSmartPolicy), and will be used to calculate costs in [Statistics](https://developers.enode.com/api/reference#getChargingStatistics)."
    },
    {
      "name": "User Management",
      "description": "Endpoints used to link and unlink users or vendors."
    },
    {
      "name": "Vehicles",
      "description": "EVs provide charge, location, and odometer data. Vehicles can be controlled either directly using the [Control Charging](/api/reference#postVehiclesVehicleidCharging) endpoint, or through [Smart Charging](/docs/smart-charging/introduction) and [Schedules](/docs/scheduling)."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks are a mechanism that allows your server to receive notifications of events from the Enode system.\n\nSee the related guide for more information about timeouts, failures, and retry logic: [Using Webhooks](/docs/webhooks)"
    },
    {
      "name": "Beta",
      "description": "Endpoint is in beta and may change without notice."
    },
    {
      "name": "Meters",
      "description": "The `Meter` object represents a unit responsible for measuring energy usage. It provides detailed information about the meter itself and the energy consumption data it records."
    },
    {
      "name": "Batteries",
      "description": "The `Battery` object represents a residential energy storage unit, like a Tesla Powerwall or Enphase IQ. It offers detailed insights into the battery's operation and allows you to instruct the battery on handling its stored energy."
    }
  ],
  "servers": [
    {
      "url": "https://enode-api.production.enode.io"
    }
  ],
  "components": {
    "securitySchemes": {
      "ClientAccessToken": {
        "type": "oauth2",
        "description": "A `ClientAccessToken` is obtained via the [OAuth 2.0 Client Credentials grant](https://www.oauth.com/oauth2-servers/access-tokens/client-credentials/) and carries authorization to access all functionalities and data in your Enode account.\nFull details at [The ClientAccessToken](/api/reference#getting-an-access-token)\n",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://oauth.production.enode.io/oauth2/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "BatteryVendor": {
        "type": "string",
        "enum": [
          "TESLA",
          "ENPHASE",
          "HUAWEI"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "TESLA"
      },
      "BatteryChargeState": {
        "type": "object",
        "properties": {
          "status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "CHARGING",
              "DISCHARGING",
              "IDLE",
              "FAULT",
              "UNKNOWN"
            ],
            "description": "The power delivery state of the battery.",
            "example": "CHARGING"
          },
          "batteryCapacity": {
            "type": [
              "number",
              "null"
            ],
            "description": "Battery capacity in kWh.",
            "example": 13.5
          },
          "batteryLevel": {
            "type": [
              "number",
              "null"
            ],
            "description": "Remaining battery charge level in percent.",
            "example": 80
          },
          "chargeRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current charge rate in kW. A positive value indicates that the battery is charging.",
            "example": 4.6
          },
          "dischargeLimit": {
            "type": [
              "number",
              "null"
            ],
            "description": "Minimum charge level for a battery, expressed as a percentage. Batteries will not discharge below this user-set reserve level except in emergency power situations.",
            "example": 20
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time of last received charge state update",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "status",
          "batteryCapacity",
          "batteryLevel",
          "chargeRate",
          "dischargeLimit",
          "lastUpdated"
        ],
        "additionalProperties": false,
        "description": "Latest information about the battery. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
      },
      "BatteryConfig": {
        "type": "object",
        "properties": {
          "operationMode": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "IMPORT_FOCUS",
              "EXPORT_FOCUS",
              "TIME_OF_USE",
              "SELF_RELIANCE"
            ],
            "description": "The current operation mode of the battery.\n\n * `IMPORT_FOCUS`: Prioritizes charging the battery. Draws power from the grid and any excess solar for charging. \n * `EXPORT_FOCUS`: Prioritizes discharging energy stored in the battery back to the grid. \n * `TIME_OF_USE`: Maximizes energy cost savings in accordance with a user-defined utility rate plan. Energy may be consumed from solar, battery, or grid sources, depending on the current prices and your user's settings in the OEM app. Energy may be exported to the grid from solar or battery sources, depending on current prices and your user's settings in the OEM app. \n * `SELF_RELIANCE`: Minimizes household reliance on the grid. Prioritize using own energy from solar or battery for household consumption before importing from grid. Energy may be exported to the grid from solar, depending on excess solar and your user's settings in the OEM app. "
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time of last received configuration update",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "operationMode",
          "lastUpdated"
        ],
        "additionalProperties": false
      },
      "BatteryBrand": {
        "type": "string",
        "enum": [
          "Tesla",
          "Enphase",
          "HUAWEI"
        ],
        "description": "A formatted and properly cased OEM brand name, suitable for reading by humans. May contain special characters.",
        "example": "Tesla"
      },
      "BatteryInformation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Battery vendor ID",
            "example": "7deb27f8-794f-467b-855e-5c61dd9f2cb3"
          },
          "brand": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BatteryBrand"
              },
              {
                "description": "Battery brand"
              }
            ]
          },
          "model": {
            "type": "string",
            "description": "Battery model",
            "example": "Powerwall"
          },
          "siteName": {
            "type": "string",
            "description": "Name of the site, as set by the user on the device/vendor. If no user-specified name is available, we construct a fallback name using the vendor/device/model names.",
            "example": "Powerwall Home"
          },
          "installationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Battery installation date",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "id",
          "brand",
          "model",
          "siteName",
          "installationDate"
        ],
        "additionalProperties": false,
        "description": "Descriptive information about the battery"
      },
      "BatteryLocation": {
        "type": "object",
        "properties": {
          "longitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "Longitude in degrees",
            "example": 10.7197486
          },
          "latitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "Latitude in degrees",
            "example": 59.9173985
          }
        },
        "required": [
          "longitude",
          "latitude"
        ],
        "additionalProperties": false,
        "description": "Battery's GPS coordinates"
      },
      "Capability": {
        "type": "object",
        "properties": {
          "isCapable": {
            "type": "boolean",
            "description": "The entity is fully capable of providing this data or functionality. If false, support is partial or missing.",
            "example": false
          },
          "interventionIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
              "x-format": {
                "guid": true
              }
            },
            "description": "IDs of interventions the user can make to alter the availability of this capability. Please refer to [the interventions guide](/docs/interventions#accessing-interventions-via-our-api) for more information."
          }
        },
        "required": [
          "isCapable",
          "interventionIds"
        ],
        "additionalProperties": false
      },
      "BatteryCapabilities": {
        "type": "object",
        "properties": {
          "exportFocus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports EXPORT_FOCUS operation mode."
              }
            ]
          },
          "importFocus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports IMPORT_FOCUS operation mode."
              }
            ]
          },
          "timeOfUse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports TIME_OF_USE operation mode."
              }
            ]
          },
          "selfReliance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports SELF_RELIANCE operation mode."
              }
            ]
          }
        },
        "required": [
          "exportFocus",
          "importFocus",
          "timeOfUse",
          "selfReliance"
        ],
        "additionalProperties": false,
        "description": "A collection of descriptors that describe the capabilities of this specific battery"
      },
      "PaginationCursors": {
        "type": "object",
        "properties": {
          "after": {
            "type": [
              "string",
              "null"
            ],
            "example": "MjAyMy0wNy0xOFQxMDowODowMi4zNzNa"
          },
          "before": {
            "type": [
              "string",
              "null"
            ],
            "example": "MjAyMy0wNi0xNlQwOTowMzowMS4yNjJa"
          }
        },
        "required": [
          "after",
          "before"
        ],
        "additionalProperties": false,
        "description": "Cursors to the pages before and after current page. See the [Pagination](/api/reference#pagination) section for reference."
      },
      "PaginatedBatteryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Unique identifier for the battery object",
                  "example": "54d827e1-8355-4fed-97b5-55940d1d09ba"
                },
                "userId": {
                  "type": "string",
                  "description": "The ID of the user that linked this battery.",
                  "example": "4f6fecd0-bdae-49be-b6e8-ee442e1e3da9"
                },
                "vendor": {
                  "$ref": "#/components/schemas/BatteryVendor"
                },
                "locationId": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "uuid",
                  "description": "ID of the location the battery is currently positioned at (if any).",
                  "example": "8d90101b-3f2f-462a-bbb4-1ed320d33bbe",
                  "x-format": {
                    "guid": true
                  }
                },
                "lastSeen": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The last time Enode successfully communicated with the vendor or when the battery was initially linked.",
                  "example": "2020-04-07T17:04:26Z"
                },
                "isReachable": {
                  "type": "boolean",
                  "description": "Whether live data from the battery is currently reachable from Enode's perspective. This 'reachability' may refer to reading from a cache operated by the battery's cloud service if that service has determined that its cache is valid."
                },
                "chargeState": {
                  "$ref": "#/components/schemas/BatteryChargeState"
                },
                "config": {
                  "$ref": "#/components/schemas/BatteryConfig"
                },
                "information": {
                  "$ref": "#/components/schemas/BatteryInformation"
                },
                "location": {
                  "$ref": "#/components/schemas/BatteryLocation"
                },
                "capabilities": {
                  "$ref": "#/components/schemas/BatteryCapabilities"
                },
                "scopes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Scopes that the user has granted for this battery."
                }
              },
              "required": [
                "id",
                "userId",
                "vendor",
                "locationId",
                "lastSeen",
                "isReachable",
                "chargeState",
                "config",
                "information",
                "location",
                "capabilities",
                "scopes"
              ],
              "additionalProperties": false
            },
            "description": "Paginated list of batteries"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursors"
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "additionalProperties": false,
        "description": "Paginated response of batteries"
      },
      "setBatteryOperationModePayload": {
        "type": "object",
        "properties": {
          "operationMode": {
            "type": "string",
            "enum": [
              "IMPORT_FOCUS",
              "EXPORT_FOCUS",
              "TIME_OF_USE",
              "SELF_RELIANCE"
            ],
            "description": "Desired operation mode of the battery.\n\n * `IMPORT_FOCUS`: Prioritizes charging the battery. Draws power from the grid and any excess solar for charging. \n * `EXPORT_FOCUS`: Prioritizes discharging energy stored in the battery back to the grid. \n * `TIME_OF_USE`: Maximizes energy cost savings in accordance with a user-defined utility rate plan. Energy may be consumed from solar, battery, or grid sources, depending on the current prices and your user's settings in the OEM app. Energy may be exported to the grid from solar or battery sources, depending on current prices and your user's settings in the OEM app. \n * `SELF_RELIANCE`: Minimizes household reliance on the grid. Prioritize using own energy from solar or battery for household consumption before importing from grid. Energy may be exported to the grid from solar, depending on excess solar and your user's settings in the OEM app. ",
            "example": "IMPORT_FOCUS"
          }
        },
        "required": [
          "operationMode"
        ],
        "additionalProperties": false,
        "description": "Target battery operation mode"
      },
      "ActionState": {
        "type": "string",
        "enum": [
          "PENDING",
          "CONFIRMED",
          "FAILED",
          "CANCELLED"
        ],
        "description": "The real-time status of an action executed on a target. \n\n * `PENDING`: The initial state. Enode is actively sending commands and monitoring the target for changes. \n * `CONFIRMED`: Successful transition of the target to the desired state. \n * `FAILED`: The target did not respond to the action before timing out. Enode has ceased sending additional commands. \n * `CANCELLED`: A required precondition was not met during the action's timeout window or another action has been sent to the target, overriding this one."
      },
      "OperationModeAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was created",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was last updated",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time when the action transitioned to a non-pending state.",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the battery which this action is controlling.",
            "example": "ac03a513-5494-4e1c-9dd7-2a29dc024312"
          },
          "targetType": {
            "type": "string",
            "enum": [
              "battery"
            ]
          },
          "targetState": {
            "$ref": "#/components/schemas/setBatteryOperationModePayload"
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "targetState"
        ],
        "additionalProperties": false,
        "title": "Battery Operation Mode Action"
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "A URI reference that identifies the problem type."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type."
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          }
        },
        "required": [
          "type",
          "title",
          "detail"
        ],
        "additionalProperties": false,
        "description": "Standard Problem Error",
        "example": {
          "type": "https://docs.enode.io/problems/im-a-teapot",
          "title": "I'm a teapot",
          "detail": "The requested entity body is short and stout."
        }
      },
      "ChargerVendor": {
        "type": "string",
        "enum": [
          "ZAPTEC",
          "EASEE",
          "WALLBOX",
          "EO",
          "CHARGEAMPS",
          "EVBOX",
          "GOE",
          "FRONIUS",
          "CHARGEPOINT",
          "ENELX",
          "TESLA",
          "OHME"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "ZAPTEC"
      },
      "ChargerPowerDeliveryState": {
        "type": "string",
        "enum": [
          "UNKNOWN",
          "UNPLUGGED",
          "PLUGGED_IN:INITIALIZING",
          "PLUGGED_IN:CHARGING",
          "PLUGGED_IN:STOPPED",
          "PLUGGED_IN:NO_POWER",
          "PLUGGED_IN:FAULT"
        ],
        "description": "The current state of power delivery between the vehicle and charger.\n\n * `UNKNOWN`: The state of power delivery is currently unknown. \n * `UNPLUGGED`: The vehicle is not connected to the charger. \n * `PLUGGED_IN:INITIALIZING`: The charging station is preparing to deliver power to the vehicle. It is expected for this state to shortly transition into PLUGGED_IN:CHARGING. \n * `PLUGGED_IN:CHARGING`: The charger is actively delivering power to the vehicle, causing the battery level to increase. \n * `PLUGGED_IN:STOPPED`: The vehicle is plugged in, but the charger has been stopped. It is possible to transition into a charging state by sending a start command.\n * `PLUGGED_IN:NO_POWER`: The charger attempted to initialize charging, however no external power was accepted by the vehicle. It is not possible to transition into a charging state with a remote command until there is some user intervention to resolve the issue. \n * `PLUGGED_IN:FAULT`: A malfunction in the charging process is preventing power from being delivered. Possible causes include a charging cable not being properly locked, extreme temperatures, or malfunctions in either the charging station or the vehicle's internal system. It is not possible to transition into a charging state with a remote command until there is some user intervention to resolve the issue.",
        "example": "UNPLUGGED"
      },
      "ChargerChargeState": {
        "type": "object",
        "properties": {
          "isPluggedIn": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Indicates whether the charger has a vehicle plugged into it (regardless of whether that vehicle is actually charging)"
          },
          "isCharging": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Indicates whether the charger is currently delivering power to the vehicle and actively charging its battery."
          },
          "chargeRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current charge rate in kW.\n\nThis property is only available when the charger is actively charging a vehicle, and is `null` any other time."
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time of latest charge state update",
            "example": "2020-04-07T17:04:26Z"
          },
          "maxCurrent": {
            "type": [
              "number",
              "null"
            ],
            "description": "Desired max current in amperes, if set"
          },
          "powerDeliveryState": {
            "$ref": "#/components/schemas/ChargerPowerDeliveryState"
          }
        },
        "required": [
          "isPluggedIn",
          "isCharging",
          "chargeRate",
          "lastUpdated",
          "maxCurrent",
          "powerDeliveryState"
        ],
        "additionalProperties": false,
        "description": "Latest information about the charger. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
      },
      "ChargerBrand": {
        "type": "string",
        "enum": [
          "Zaptec",
          "Easee",
          "Wallbox",
          "EO",
          "EVBox",
          "Charge Amps",
          "go-e",
          "Fronius",
          "ChargePoint",
          "Enel X",
          "Tesla",
          "Ohme"
        ],
        "description": "A formatted and properly cased OEM brand name, suitable for reading by humans. May contain special characters.",
        "example": "Easee"
      },
      "ChargerInformation": {
        "type": "object",
        "properties": {
          "brand": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargerBrand"
              },
              {
                "description": "Charger brand"
              }
            ]
          },
          "model": {
            "type": "string",
            "description": "Charger model",
            "example": "Home"
          },
          "year": {
            "type": [
              "number",
              "null"
            ],
            "description": "Charger production year"
          }
        },
        "required": [
          "brand",
          "model",
          "year"
        ],
        "additionalProperties": false,
        "description": "Descriptive information about the Charger"
      },
      "ChargerCapabilities": {
        "type": "object",
        "properties": {
          "information": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Full availability of information data."
              }
            ]
          },
          "chargeState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Full availability of chargeState data."
              }
            ]
          },
          "startCharging": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports START charging command."
              }
            ]
          },
          "stopCharging": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports STOP charging command."
              }
            ]
          },
          "setMaxCurrent": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Ability to set the max charge rate."
              }
            ]
          }
        },
        "required": [
          "information",
          "chargeState",
          "startCharging",
          "stopCharging",
          "setMaxCurrent"
        ],
        "additionalProperties": false,
        "description": "A collection of descriptors that describe the capabilities of this specific charger"
      },
      "Scopes": {
        "type": "string",
        "enum": [
          "battery:control:operation_mode",
          "battery:read:data",
          "battery:read:location",
          "charger:control:charging",
          "charger:read:data",
          "hvac:control:mode",
          "hvac:read:data",
          "inverter:read:data",
          "inverter:read:location",
          "meter:read:data",
          "meter:read:location",
          "vehicle:control:charging",
          "vehicle:read:data",
          "vehicle:read:location"
        ]
      },
      "Charger": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Charger ID"
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that linked this charger."
          },
          "vendor": {
            "$ref": "#/components/schemas/ChargerVendor"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time",
            "description": "The last time Enode successfully communicated with the charger.",
            "example": "2020-04-07T17:04:26Z"
          },
          "isReachable": {
            "type": "boolean",
            "description": "Whether live data from the charger is currently reachable from Enode's perspective. This 'reachability' may refer to reading from a cache operated by the charger's cloud service if that service has determined that its cache is valid."
          },
          "locationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "ID of the location the charger is currently positioned at (if any).",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "chargeState": {
            "$ref": "#/components/schemas/ChargerChargeState"
          },
          "information": {
            "$ref": "#/components/schemas/ChargerInformation"
          },
          "capabilities": {
            "$ref": "#/components/schemas/ChargerCapabilities"
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scopes"
            },
            "description": "Scopes that the user has granted for this charger."
          }
        },
        "required": [
          "id",
          "userId",
          "vendor",
          "lastSeen",
          "isReachable",
          "locationId",
          "chargeState",
          "information",
          "capabilities",
          "scopes"
        ],
        "additionalProperties": false,
        "example": {
          "id": "2211e263-0362-4235-83f4-887bdf3ee414",
          "userId": "17d9f847-8a1c-4158-adaa-4911a7acd5f9",
          "vendor": "ZAPTEC",
          "lastSeen": "2023-03-21T21:08:27.596Z",
          "isReachable": true,
          "locationId": "2211e263-d6d4-d6d4-d6d4-dbdd77ec82b6",
          "chargeState": {
            "isPluggedIn": true,
            "isCharging": true,
            "chargeRate": 6.939,
            "lastUpdated": "2023-03-21T16:39:20.000Z",
            "maxCurrent": 16,
            "powerDeliveryState": "PLUGGED_IN:CHARGING"
          },
          "information": {
            "brand": "Zaptec",
            "model": "ZAPTEC PRO",
            "year": null
          },
          "capabilities": {
            "information": {
              "isCapable": true,
              "interventionIds": []
            },
            "chargeState": {
              "isCapable": true,
              "interventionIds": []
            },
            "startCharging": {
              "isCapable": true,
              "interventionIds": []
            },
            "stopCharging": {
              "isCapable": true,
              "interventionIds": []
            },
            "setMaxCurrent": {
              "isCapable": false,
              "interventionIds": [
                "dbdd77ec82b6-d6d4-d6d4-d6d4-dbdd77ec82b6"
              ]
            }
          },
          "scopes": [
            "charger:control:charging",
            "charger:read:data"
          ]
        }
      },
      "PaginatedChargerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charger"
            },
            "description": "Paginated list of chargers"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursors"
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "additionalProperties": false,
        "description": "Paginated response of chargers"
      },
      "ChargerUpdatePayload": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          }
        },
        "required": [
          "locationId"
        ],
        "additionalProperties": false
      },
      "ChargingAction": {
        "type": "string",
        "enum": [
          "START",
          "STOP"
        ]
      },
      "ChargeableVendorType": {
        "type": "string",
        "enum": [
          "vehicle",
          "charger"
        ]
      },
      "ChargingActionFailureReason": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "NO_RESPONSE",
              "FAILED_PRECONDITION",
              "CONFLICT",
              "NOT_FOUND",
              "UNNECESSARY",
              "REQUESTED_CANCELLATION"
            ],
            "description": "A machine-readable high level error category.\n\n * `NO_RESPONSE`: The chargeable device did not react to our charge commands within the action's timeout window.  \n * `FAILED_PRECONDITION`: The chargeable device did not meet all required preconditions for this action to be executed during the action's timeout window. \n * `UNNECESSARY`: The action was not carried out given that the device was already in the desired state. \n * `CONFLICT`: A newer action for this chargeable has been created. This action is now abandoned.  \n * `REQUESTED_CANCELLATION`: This action was cancelled by request of the controlling owner. The controlling owner may refer to another Enode entity which initiated the command, such as a schedule or smart override. \n * `NOT_FOUND`: The chargeable was deleted while the action was `PENDING`.\n"
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation of why the charging action was unsuccessful.",
            "example": "The chargeable device remained unreachable."
          }
        },
        "required": [
          "type",
          "detail"
        ],
        "additionalProperties": false,
        "description": "Information about why was this action not executed successfully."
      },
      "ChargeAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was created",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was last updated",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time when the action transitioned to a non-pending state.",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the target which this action is controlling.",
            "example": "bfbccded-8a1c-45a8-bbda-dcaeef29977a"
          },
          "targetType": {
            "$ref": "#/components/schemas/ChargeableVendorType"
          },
          "kind": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargingAction"
              },
              {
                "description": "The charging action to perform"
              }
            ]
          },
          "failureReason": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargingActionFailureReason"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "kind",
          "failureReason"
        ],
        "additionalProperties": false,
        "title": "Charge Action"
      },
      "TargetMaxCurrent": {
        "type": "object",
        "properties": {
          "maxCurrent": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Desired max current in ampere",
            "example": 10
          }
        },
        "required": [
          "maxCurrent"
        ],
        "additionalProperties": false,
        "description": "Target maximum current for entity"
      },
      "MaxCurrentAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was created",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was last updated",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time when the action transitioned to a non-pending state.",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the entity which this action is controlling."
          },
          "targetType": {
            "$ref": "#/components/schemas/ChargeableVendorType"
          },
          "targetState": {
            "$ref": "#/components/schemas/TargetMaxCurrent"
          },
          "failureReason": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargingActionFailureReason"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "targetState",
          "failureReason"
        ],
        "additionalProperties": false,
        "title": "Max Current Action"
      },
      "ChargerAction": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/ChargeAction"
          },
          {
            "$ref": "#/components/schemas/MaxCurrentAction"
          }
        ]
      },
      "SmartOverrideStatus": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the smart override was created.",
            "example": "2020-04-07T17:04:26Z"
          },
          "endedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time at which the smart override was ended. If null, the smart override is still active.",
            "example": "2020-04-07T17:04:26Z"
          },
          "targetType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargeableVendorType"
              },
              {
                "example": "vehicle"
              }
            ]
          },
          "targetId": {
            "type": "string",
            "description": "ID of the target which this smart override is affecting.",
            "example": "07f8368d-be7e-4dbd-8cf0-94d00dd67ad3"
          },
          "vendorActionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "The ID of the Action responsible for starting charging on the target. Use the [Get Vehicle Action](/api/reference#getVehiclesAction) or the [Get Charger Action](/api/reference#getChargersAction) endpoints to monitor action results.",
            "example": "213ae0a8-fb65-40be-981a-6a86df3e1c7f",
            "x-format": {
              "guid": true
            }
          }
        },
        "required": [
          "createdAt",
          "endedAt",
          "targetType",
          "targetId",
          "vendorActionId"
        ],
        "additionalProperties": false,
        "description": "This field populates after using Vehicle [Create Smart Override](/api/reference#vehicleCreateSmartOverride) or Charger [Create Smart Override](/api/reference#chargerCreateSmartOverride). Once populated, the target enters an overridden state, stopping Enode from sending Smart Charging actions. The Smart Override persists until the target ceases charging for any reason or is manually ended via Vehicle [End Smart Override](/api/reference#vehicleEndSmartOverride) or Charger [End Smart Override](/api/reference#chargerEndSmartOverride)."
      },
      "VehicleVendor": {
        "type": "string",
        "enum": [
          "AUDI",
          "BMW",
          "HONDA",
          "HYUNDAI",
          "JAGUAR",
          "LANDROVER",
          "KIA",
          "MERCEDES",
          "MINI",
          "NISSAN",
          "PEUGEOT",
          "PORSCHE",
          "RENAULT",
          "SEAT",
          "SKODA",
          "TESLA",
          "VOLKSWAGEN",
          "VOLVO",
          "FORD",
          "OPEL",
          "DS",
          "TOYOTA",
          "LEXUS",
          "CITROEN",
          "CUPRA",
          "VAUXHALL",
          "FIAT",
          "RIVIAN",
          "NIO",
          "CHEVROLET",
          "GMC",
          "CADILLAC",
          "XPENG"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "TESLA"
      },
      "ChargeableVendor": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/VehicleVendor"
          },
          {
            "$ref": "#/components/schemas/ChargerVendor"
          },
          {
            "$ref": "#/components/schemas/BatteryVendor"
          }
        ]
      },
      "ChargerOnlySmartOverrideResponse": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the smart override was created.",
            "example": "2020-04-07T17:04:26Z"
          },
          "endedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time at which the smart override was ended. If null, the smart override is still active.",
            "example": "2020-04-07T17:04:26Z"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the target which this smart override is affecting.",
            "example": "07f8368d-be7e-4dbd-8cf0-94d00dd67ad3"
          },
          "vendorActionId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "The ID of the Action responsible for starting charging on the target. Use the [Get Vehicle Action](/api/reference#getVehiclesAction) or the [Get Charger Action](/api/reference#getChargersAction) endpoints to monitor action results.",
            "example": "213ae0a8-fb65-40be-981a-6a86df3e1c7f",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "ID of the User",
            "example": "0bec82e0-0d54-4f2f-83b1-5b248604de0b"
          },
          "vendor": {
            "$ref": "#/components/schemas/ChargeableVendor"
          },
          "targetType": {
            "type": "string",
            "enum": [
              "charger"
            ]
          }
        },
        "required": [
          "createdAt",
          "endedAt",
          "targetId",
          "vendorActionId",
          "userId",
          "vendor",
          "targetType"
        ],
        "additionalProperties": false
      },
      "PartialChargerSmartChargingPolicy": {
        "type": "object",
        "properties": {
          "isEnabled": {
            "type": "boolean",
            "default": false,
            "description": "When enabled, this charger's charging status may be controlled by [Smart Charging](/docs/smart-charging/introduction)"
          },
          "deadline": {
            "type": "string",
            "description": "The `HH:MM` deadline for the cycle. If a timezone is set on the charging location at which the smart charging occurs, the deadline is interpreted in that timezone, otherwise UTC is used.",
            "pattern": "^\\d{2}:\\d{2}$",
            "example": "07:00"
          },
          "chargingDuration": {
            "type": "string",
            "description": "The `HH:MM` charging duration for each cycle.",
            "pattern": "^\\d{2}:\\d{2}$",
            "example": "07:00"
          }
        },
        "additionalProperties": false,
        "title": "Partial Smart Charging Policy"
      },
      "ChargerSmartChargingPolicy": {
        "type": "object",
        "title": "Partial Smart Charging Policy",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartialChargerSmartChargingPolicy"
          },
          {
            "type": "object",
            "title": "Smart Charging Policy",
            "description": "Smart Charging configuration properties. Configured via the [Update Smart Charging Policy](/api/reference#updateChargerSmartChargingPolicy) endpoint.",
            "required": [
              "isEnabled",
              "deadline",
              "chargingDuration"
            ]
          }
        ]
      },
      "ChargerState": {
        "type": "string",
        "enum": [
          "DISABLED",
          "CHARGER_NOT_REACHABLE",
          "VEHICLE_NOT_PLUGGED_IN",
          "CHARGING_PAUSED",
          "CHARGING",
          "AWAITING_PRICES"
        ],
        "description": "An enum value that describes the current smart charging state of the charger. Every charger is in exactly one state, at all times"
      },
      "ChargerSmartChargingIntervals": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "enum": [
                "IN_PROGRESS",
                "COMPLETED",
                "PLANNED"
              ]
            },
            "startTime": {
              "type": "string",
              "description": "The start time of this charging interval"
            },
            "endTime": {
              "type": "string",
              "description": "The end time of this charging interval"
            }
          },
          "required": [
            "status",
            "startTime",
            "endTime"
          ],
          "additionalProperties": false
        }
      },
      "HvacVendor": {
        "type": "string",
        "enum": [
          "TADO",
          "MILL",
          "ADAX",
          "ECOBEE",
          "SENSIBO",
          "HONEYWELL",
          "RESIDEO",
          "MITSUBISHI",
          "MICROMATIC",
          "NIBE",
          "PANASONIC",
          "TOSHIBA",
          "DAIKIN",
          "NEST",
          "FUJITSU",
          "BOSCH",
          "NETATMO"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "ADAX"
      },
      "HvacBrand": {
        "type": "string",
        "enum": [
          "Tado",
          "Mill",
          "ADAX",
          "Ecobee",
          "Sensibo",
          "Honeywell TCC",
          "Resideo",
          "Mitsubishi",
          "Micro Matic",
          "NIBE",
          "Panasonic",
          "Toshiba",
          "DAIKIN",
          "Nest",
          "Fujitsu",
          "Bosch",
          "Netatmo"
        ],
        "description": "A formatted and properly cased OEM brand name, suitable for reading by humans. May contain special characters.",
        "example": "Honeywell TCC"
      },
      "HvacMode": {
        "type": "string",
        "enum": [
          "OFF",
          "AUTO",
          "COOL",
          "HEAT"
        ]
      },
      "HvacHoldType": {
        "type": "string",
        "enum": [
          "PERMANENT",
          "SCHEDULED"
        ]
      },
      "NullableTemperatureRange": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "min": {
            "type": [
              "number",
              "null"
            ],
            "description": "The minimum allowable temperature, inclusive."
          },
          "max": {
            "type": [
              "number",
              "null"
            ],
            "description": "The maximum allowable temperature, inclusive."
          }
        },
        "required": [
          "min",
          "max"
        ],
        "additionalProperties": false
      },
      "NullableTemperatureDifferenceRange": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "min": {
            "type": [
              "number",
              "null"
            ],
            "description": "The minimum allowable difference, inclusive."
          },
          "max": {
            "type": [
              "number",
              "null"
            ],
            "description": "The maximum allowable difference, inclusive."
          }
        },
        "required": [
          "min",
          "max"
        ],
        "additionalProperties": false
      },
      "Hvac": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "HVAC unit ID"
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that linked this hvac."
          },
          "vendor": {
            "$ref": "#/components/schemas/HvacVendor"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time",
            "description": "The last time Enode successfully communicated with the vendor or when the HVAC unit was initially linked.",
            "example": "2020-04-07T17:04:26Z"
          },
          "isReachable": {
            "type": "boolean",
            "description": "Whether live data from the HVAC unit is currently reachable from Enode's perspective. It can happen that this 'reachability' refers to reading from a cache operated by the vendor's cloud service, if that service has determined that its cache is valid."
          },
          "consumptionRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current rate of energy consumption in kW. An inactive HVAC will have a consumption rate of 0. HVACs not supporting consumption rate will report null. This value is currently only supported by a small number of devices."
          },
          "information": {
            "type": "object",
            "properties": {
              "brand": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HvacBrand"
                  },
                  {
                    "description": "Display name of OEM/vendor"
                  }
                ]
              },
              "model": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Device model name"
              },
              "displayName": {
                "type": "string",
                "description": "Name of the device, as set by the user on the device/vendor. If no user-specified name is available, we construct a fallback name using the vendor/device/model names."
              },
              "groupName": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Name of the group the device belongs to, as set by the user on the device/vendor. Groups are typically presented as \"rooms\" or \"zones\"."
              },
              "category": {
                "type": "string",
                "enum": [
                  "HEATING",
                  "COOLING",
                  "HEAT_PUMP",
                  "AGGREGATOR"
                ],
                "description": "HVAC category"
              }
            },
            "required": [
              "brand",
              "model",
              "displayName",
              "groupName",
              "category"
            ],
            "additionalProperties": false,
            "description": "Descriptive information about the HVAC unit"
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "capableModes": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/HvacMode"
                },
                "description": "A list of valid modes for this HVAC unit."
              },
              "capableHoldTypes": {
                "type": [
                  "array",
                  "null"
                ],
                "items": {
                  "$ref": "#/components/schemas/HvacHoldType"
                },
                "description": "A list of valid hold types for this HVAC unit.\n\nDeprecated: Check the `setFollowSchedule` and `setPermanentHold` capabilities instead.",
                "deprecated": true
              },
              "coolSetpointRange": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NullableTemperatureRange"
                  },
                  {
                    "description": "The range of allowable values for `coolSetpoint`."
                  }
                ]
              },
              "heatSetpointRange": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NullableTemperatureRange"
                  },
                  {
                    "description": "The range of allowable values for `heatSetpoint`."
                  }
                ]
              },
              "setpointDifferenceRange": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NullableTemperatureDifferenceRange"
                  },
                  {
                    "description": "A constraint specifying the minimum and maximum allowable difference between `heatSetpoint` and `coolSetpoint`. Only applicable in `AUTO` mode."
                  }
                ]
              },
              "setFollowSchedule": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Capability"
                  },
                  {
                    "description": "Supports following a schedule set on the device."
                  }
                ]
              },
              "setPermanentHold": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Capability"
                  },
                  {
                    "description": "Supports setting a permanent hold."
                  }
                ]
              }
            },
            "required": [
              "capableModes",
              "capableHoldTypes",
              "coolSetpointRange",
              "heatSetpointRange",
              "setpointDifferenceRange",
              "setFollowSchedule",
              "setPermanentHold"
            ],
            "additionalProperties": false,
            "description": "An object describing valid states for this HVAC unit."
          },
          "temperatureState": {
            "type": "object",
            "properties": {
              "currentTemperature": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Current air temperature reported by device in degrees Celsius."
              },
              "isActive": {
                "type": "boolean",
                "description": "Whether the HVAC unit is actively heating or cooling."
              },
              "lastUpdated": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "Time of last temperature state update. Reflects when the OEM reported a change or Enode recorded a change in any field, whichever is newer",
                "example": "2020-04-07T17:04:26Z"
              }
            },
            "required": [
              "currentTemperature",
              "isActive",
              "lastUpdated"
            ],
            "additionalProperties": false,
            "description": "Latest information about temperature. These values replace the deprecated top-level fields and include a freshness indicator. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
          },
          "thermostatState": {
            "type": "object",
            "properties": {
              "mode": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HvacMode"
                  },
                  {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The HVAC's mode."
                  }
                ]
              },
              "heatSetpoint": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "If mode allows, heat when `currentTemperature` falls below this point."
              },
              "coolSetpoint": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "If mode allows, cool when `currentTemperature` rises above this point."
              },
              "holdType": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HvacHoldType"
                  },
                  {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The duration the setpoints and mode are expected to be held. If `SCHEDULED`, the device is being controlled by an OEM schedule configured on the device."
                  }
                ]
              },
              "lastUpdated": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "Time of last thermostat state update. Reflects when the OEM reported a change or Enode recorded a change in any field, whichever is newer.",
                "example": "2020-04-07T17:04:26Z"
              }
            },
            "required": [
              "mode",
              "heatSetpoint",
              "coolSetpoint",
              "holdType",
              "lastUpdated"
            ],
            "additionalProperties": false,
            "description": "Latest information about the thermostat state. These values replace the deprecated top-level fields and include a freshness indicator. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
          },
          "mode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/HvacMode"
              },
              {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Replaced by `thermostatState.mode`. The HVAC's mode.",
                "deprecated": true
              }
            ]
          },
          "heatSetpoint": {
            "type": [
              "number",
              "null"
            ],
            "description": "Replaced by `thermostatState.heatSetpoint`. If mode allows, heat when `currentTemperature` falls below this point.",
            "deprecated": true
          },
          "coolSetpoint": {
            "type": [
              "number",
              "null"
            ],
            "description": "Replaced by `thermostatState.coolSetpoint`. If mode allows, cool when `currentTemperature` rises above this point.",
            "deprecated": true
          },
          "holdType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/HvacHoldType"
              },
              {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Replaced by `thermostatState.holdType`. The duration the setpoints and mode are expected to be held. If `SCHEDULED`, the device is being controlled by an OEM schedule configured on the device.",
                "deprecated": true
              }
            ]
          },
          "isActive": {
            "type": "boolean",
            "description": "Replaced by `temperatureState.isActive`. Whether the HVAC unit is actively heating or cooling.",
            "deprecated": true
          },
          "currentTemperature": {
            "type": [
              "number",
              "null"
            ],
            "description": "Replaced by `temperatureState.currentTemperature`. Current air temperature reported by device in degrees Celsius.",
            "deprecated": true
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes that the user has granted for this HVAC unit."
          },
          "locationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "ID of the location the HVAC unit is housed at (if any)",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          }
        },
        "required": [
          "id",
          "userId",
          "vendor",
          "lastSeen",
          "isReachable",
          "consumptionRate",
          "information",
          "capabilities",
          "temperatureState",
          "thermostatState",
          "mode",
          "heatSetpoint",
          "coolSetpoint",
          "holdType",
          "isActive",
          "currentTemperature",
          "scopes",
          "locationId"
        ],
        "additionalProperties": false,
        "example": {
          "id": "8f39fa8d-8f10-4984-a319-741dc23848c0",
          "userId": "17d9f847-8a1c-4158-adaa-4911a7acd5f9",
          "vendor": "ADAX",
          "lastSeen": "2020-04-07T17:04:26.000Z",
          "isReachable": true,
          "isActive": true,
          "currentTemperature": 20.8,
          "consumptionRate": 1.8,
          "mode": "HEAT",
          "heatSetpoint": 22,
          "coolSetpoint": 24,
          "holdType": "PERMANENT",
          "information": {
            "brand": "ADAX",
            "model": "Neo Wi-Fi Skirting",
            "displayName": "Bedroom Panel Heater",
            "groupName": "Bedroom",
            "category": "HEATING"
          },
          "capabilities": {
            "capableModes": [
              "HEAT",
              "COOL",
              "OFF"
            ],
            "capableHoldTypes": [
              "PERMANENT"
            ],
            "coolSetpointRange": {
              "min": 15,
              "max": 25
            },
            "heatSetpointRange": {
              "min": 15,
              "max": 25
            },
            "setpointDifferenceRange": {
              "min": 15,
              "max": 25
            },
            "setFollowSchedule": {
              "isCapable": true,
              "interventionIds": []
            },
            "setPermanentHold": {
              "isCapable": true,
              "interventionIds": []
            }
          },
          "thermostatState": {
            "mode": "HEAT",
            "heatSetpoint": 22,
            "coolSetpoint": 24,
            "holdType": "PERMANENT",
            "lastUpdated": "2020-04-07T17:04:26.000Z"
          },
          "temperatureState": {
            "currentTemperature": 20.8,
            "isActive": true,
            "lastUpdated": "2020-04-07T17:03:26.000Z"
          },
          "scopes": [
            "hvac:control:mode",
            "hvac:read:data"
          ],
          "locationId": "8d90101b-3f2f-462a-bbb4-1ed320d33bbe"
        }
      },
      "PaginatedHVACList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hvac"
            },
            "description": "List of paginated HVAC units"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursors"
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "additionalProperties": false,
        "description": "Paginated response of HVAC units"
      },
      "PartialHvacSmartPolicy": {
        "type": "object",
        "properties": {
          "isEnabled": {
            "type": "boolean",
            "default": false,
            "description": "When enabled, this HVAC unit is under smart control."
          }
        },
        "additionalProperties": false
      },
      "HvacSmartPolicy": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartialHvacSmartPolicy"
          },
          {
            "type": "object",
            "required": [
              "isEnabled"
            ]
          }
        ]
      },
      "HvacSmartInterval": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Clock time from which this rule should apply each day.",
            "pattern": "^\\d{2}:\\d{2}$",
            "example": "10:00"
          },
          "to": {
            "type": "string",
            "description": "Clock time until which this rule should apply each day.",
            "pattern": "^\\d{2}:\\d{2}$",
            "example": "11:00"
          },
          "heatSetpoint": {
            "type": "number",
            "description": "Heat setpoint for the interval.",
            "example": 20
          }
        },
        "required": [
          "from",
          "to",
          "heatSetpoint"
        ],
        "additionalProperties": false
      },
      "HvacSmartStatus": {
        "type": "object",
        "properties": {
          "hvacId": {
            "type": "string",
            "description": "ID of the HVAC unit.",
            "example": "8f39fa8d-8f10-4984-a319-741dc23848c0"
          },
          "userId": {
            "type": "string",
            "description": "ID of the user who owns the HVAC unit.",
            "example": "8f39fa8d-8f10-4984-a319-741dc23848c0"
          },
          "intervals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HvacSmartInterval"
            }
          }
        },
        "required": [
          "hvacId",
          "userId",
          "intervals"
        ],
        "additionalProperties": false
      },
      "hvacUpdatePayload": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          }
        },
        "required": [
          "locationId"
        ],
        "additionalProperties": false
      },
      "CoolTargetState": {
        "type": "object",
        "properties": {
          "coolSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "COOL"
            ]
          },
          "holdType": {
            "type": "string",
            "enum": [
              "PERMANENT"
            ]
          }
        },
        "required": [
          "coolSetpoint",
          "mode",
          "holdType"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "COOL"
      },
      "HeatTargetState": {
        "type": "object",
        "properties": {
          "heatSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "HEAT"
            ]
          },
          "holdType": {
            "type": "string",
            "enum": [
              "PERMANENT"
            ]
          }
        },
        "required": [
          "heatSetpoint",
          "mode",
          "holdType"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "HEAT"
      },
      "AutoTargetState": {
        "type": "object",
        "properties": {
          "coolSetpoint": {
            "type": "number"
          },
          "heatSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "AUTO"
            ]
          },
          "holdType": {
            "type": "string",
            "enum": [
              "PERMANENT"
            ]
          }
        },
        "required": [
          "coolSetpoint",
          "heatSetpoint",
          "mode",
          "holdType"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "AUTO"
      },
      "OffTargetState": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "OFF"
            ]
          },
          "holdType": {
            "type": "string",
            "enum": [
              "PERMANENT"
            ]
          }
        },
        "required": [
          "mode",
          "holdType"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "OFF"
      },
      "PermanentHoldTargetState": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CoolTargetState"
          },
          {
            "$ref": "#/components/schemas/HeatTargetState"
          },
          {
            "$ref": "#/components/schemas/AutoTargetState"
          },
          {
            "$ref": "#/components/schemas/OffTargetState"
          }
        ],
        "discriminator": {
          "propertyName": "mode",
          "mapping": {
            "COOL": "#/components/schemas/CoolTargetState",
            "HEAT": "#/components/schemas/HeatTargetState",
            "AUTO": "#/components/schemas/AutoTargetState",
            "OFF": "#/components/schemas/OffTargetState"
          }
        },
        "title": "Permanent Hold"
      },
      "HvacActionPermanentHold": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was created",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was last updated",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time when the action transitioned to a non-pending state.",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the entity asset (HVAC) which this action is controlling."
          },
          "targetType": {
            "type": "string",
            "enum": [
              "hvac"
            ]
          },
          "target": {
            "$ref": "#/components/schemas/PermanentHoldTargetState"
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "target"
        ],
        "additionalProperties": false,
        "title": "Permanent Hold Action"
      },
      "ScheduledTargetState": {
        "type": "object",
        "properties": {
          "holdType": {
            "type": "string",
            "enum": [
              "SCHEDULED"
            ]
          }
        },
        "required": [
          "holdType"
        ],
        "additionalProperties": false,
        "title": "Follow Device Schedule"
      },
      "HvacActionFollowSchedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was created",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time when this action was last updated",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time when the action transitioned to a non-pending state.",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the entity asset (HVAC) which this action is controlling."
          },
          "targetType": {
            "type": "string",
            "enum": [
              "hvac"
            ]
          },
          "target": {
            "$ref": "#/components/schemas/ScheduledTargetState"
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "target"
        ],
        "additionalProperties": false,
        "title": "Follow Schedule Action"
      },
      "HvacAction": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/HvacActionPermanentHold"
          },
          {
            "$ref": "#/components/schemas/HvacActionFollowSchedule"
          }
        ]
      },
      "CoolPermanentHold": {
        "type": "object",
        "properties": {
          "coolSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "COOL"
            ]
          }
        },
        "required": [
          "coolSetpoint",
          "mode"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "COOL"
      },
      "HeatPermanentHold": {
        "type": "object",
        "properties": {
          "heatSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "HEAT"
            ]
          }
        },
        "required": [
          "heatSetpoint",
          "mode"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "HEAT"
      },
      "AutoPermanentHold": {
        "type": "object",
        "properties": {
          "coolSetpoint": {
            "type": "number"
          },
          "heatSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "AUTO"
            ]
          }
        },
        "required": [
          "coolSetpoint",
          "heatSetpoint",
          "mode"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "AUTO"
      },
      "OffPermanentHold": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "OFF"
            ]
          }
        },
        "required": [
          "mode"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "OFF"
      },
      "HVACSetPermanentHoldPayload": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CoolPermanentHold"
          },
          {
            "$ref": "#/components/schemas/HeatPermanentHold"
          },
          {
            "$ref": "#/components/schemas/AutoPermanentHold"
          },
          {
            "$ref": "#/components/schemas/OffPermanentHold"
          }
        ],
        "discriminator": {
          "propertyName": "mode",
          "mapping": {
            "COOL": "#/components/schemas/CoolPermanentHold",
            "HEAT": "#/components/schemas/HeatPermanentHold",
            "AUTO": "#/components/schemas/AutoPermanentHold",
            "OFF": "#/components/schemas/OffPermanentHold"
          }
        },
        "title": "Permanent Hold"
      },
      "VendorType": {
        "type": "string",
        "enum": [
          "vehicle",
          "charger",
          "hvac",
          "inverter",
          "battery",
          "meter"
        ],
        "example": "vehicle"
      },
      "InverterVendor": {
        "type": "string",
        "enum": [
          "APSYSTEMS",
          "CSISolar",
          "Deye",
          "ENPHASE",
          "FOXESS",
          "FRONIUS",
          "GOODWE",
          "GROWATT",
          "Hoymiles",
          "HUAWEI",
          "INVT",
          "SMA",
          "SOFAR",
          "SOLAREDGE",
          "SOLARK",
          "SOLAX",
          "SOLIS",
          "SOLPLANET",
          "SUNGROW",
          "SUNSYNK",
          "TESLA",
          "TSUN"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "ENPHASE"
      },
      "MeterVendor": {
        "type": "string",
        "enum": [
          "ENPHASE",
          "HUAWEI",
          "TESLA"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "TESLA"
      },
      "InverterBrand": {
        "type": "string",
        "enum": [
          "APsystems",
          "CSISolar",
          "Deye",
          "Enphase",
          "FOXESS",
          "Fronius",
          "GoodWe",
          "Growatt",
          "Hoymiles",
          "Huawei",
          "INVT",
          "SMA",
          "Sofar",
          "SolarEdge",
          "SolArk",
          "Solax",
          "Solis",
          "Solplanet",
          "Sungrow",
          "SUNSYNK",
          "Tesla",
          "TSUN"
        ],
        "description": "A formatted and properly cased OEM brand name, suitable for reading by humans. May contain special characters.",
        "example": "Enphase"
      },
      "VehicleBrand": {
        "type": "string",
        "enum": [
          "Audi",
          "BMW",
          "Honda",
          "Hyundai",
          "Jaguar",
          "Land Rover",
          "Kia",
          "Mercedes",
          "MINI",
          "Nissan",
          "Peugeot",
          "Porsche",
          "Renault",
          "SEAT",
          "ŠKODA",
          "Tesla",
          "Volkswagen",
          "Volvo",
          "Ford",
          "Opel",
          "DS",
          "Toyota",
          "Lexus",
          "Citroën",
          "Cupra",
          "Vauxhall",
          "Fiat",
          "Rivian",
          "Nio",
          "Chevrolet",
          "GMC",
          "Cadillac",
          "XPENG"
        ],
        "description": "A formatted and properly cased OEM brand name, suitable for reading by humans. May contain special characters.",
        "example": "Tesla"
      },
      "MeterBrand": {
        "type": "string",
        "enum": [
          "Enphase",
          "Huawei",
          "Tesla"
        ],
        "description": "A formatted and properly cased OEM brand name, suitable for reading by humans. May contain special characters.",
        "example": "Tesla"
      },
      "Intervention": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "9d90a9ad-9b24-4ce0-94e9-e888b1b877f4",
            "x-format": {
              "guid": true
            }
          },
          "vendor": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/InverterVendor"
              },
              {
                "$ref": "#/components/schemas/VehicleVendor"
              },
              {
                "$ref": "#/components/schemas/HvacVendor"
              },
              {
                "$ref": "#/components/schemas/ChargerVendor"
              },
              {
                "$ref": "#/components/schemas/BatteryVendor"
              },
              {
                "$ref": "#/components/schemas/MeterVendor"
              }
            ],
            "description": "Machine-friendly representation of the OEM's name.",
            "example": "AUDI"
          },
          "vendorType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VendorType"
              },
              {
                "description": "Type of device this intervention relates to."
              }
            ]
          },
          "brand": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/InverterBrand"
              },
              {
                "$ref": "#/components/schemas/VehicleBrand"
              },
              {
                "$ref": "#/components/schemas/HvacBrand"
              },
              {
                "$ref": "#/components/schemas/ChargerBrand"
              },
              {
                "$ref": "#/components/schemas/BatteryBrand"
              },
              {
                "$ref": "#/components/schemas/MeterBrand"
              }
            ],
            "description": "A formatted and properly cased OEM brand name, suitable for reading by humans. May contain special characters.",
            "example": "Audi"
          },
          "introducedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the intervention was introduced.",
            "example": "2023-03-16T00:00:00"
          },
          "domain": {
            "type": "string",
            "enum": [
              "Account",
              "Device"
            ],
            "description": "The domain the intervention is related to. i.e. Is the intervention related to the vendor service account or a setting on the device.",
            "example": "Account"
          },
          "resolution": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "A localized title for the intervention.",
                "example": "Accept the Audi terms and conditions"
              },
              "description": {
                "type": "string",
                "description": "A localized description of how to resolve the intervention. Formatted as Markdown.",
                "example": "To gain access to your vehicle's telemetry data, it's necessary to accept Audi's terms and conditions. Follow these steps to proceed:<br><br>1. Open the **myAudi app** on your phone<br>2. Follow the prompts to accept Audi's terms and conditions"
              },
              "access": {
                "type": "string",
                "enum": [
                  "Remote",
                  "Physical"
                ],
                "description": "Where the intervention needs to be resolved. i.e. Remotely using the vendor's app or directly on the device.",
                "example": "Remote"
              },
              "agent": {
                "type": "string",
                "enum": [
                  "User",
                  "ThirdParty"
                ],
                "description": "Who can resolve the intervention. i.e. A user can resolve the intervention themselves, or a licensed service retailer is needed.",
                "example": "User"
              }
            },
            "required": [
              "title",
              "description",
              "access",
              "agent"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "vendor",
          "vendorType",
          "brand",
          "introducedAt",
          "domain",
          "resolution"
        ],
        "additionalProperties": false
      },
      "InterventionsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Intervention"
        }
      },
      "InverterProductionState": {
        "type": "object",
        "properties": {
          "productionRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current production rate in kW."
          },
          "isProducing": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the solar inverter is actively producing energy or not."
          },
          "totalLifetimeProduction": {
            "type": [
              "number",
              "null"
            ],
            "description": "The total lifetime production in kWh.",
            "example": 100152.56
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Time of last received production state update",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "productionRate",
          "isProducing",
          "totalLifetimeProduction",
          "lastUpdated"
        ],
        "additionalProperties": false,
        "description": "Latest information about solar production. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
      },
      "InverterInformation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Solar inverter vendor ID",
            "example": "7a18eb4e-ee65-4d5b-bb7c-d8e530006b18"
          },
          "brand": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InverterBrand"
              },
              {
                "description": "Solar inverter brand"
              }
            ]
          },
          "model": {
            "type": "string",
            "description": "Solar inverter model",
            "example": "Sunny Boy"
          },
          "siteName": {
            "type": "string",
            "description": "Name of the site, as set by the user on the device/vendor. If no user-specified name is available, we construct a fallback name using the vendor/device/model names.",
            "example": "Sunny Plant"
          },
          "installationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Solar inverter installation date",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "id",
          "brand",
          "model",
          "siteName",
          "installationDate"
        ],
        "additionalProperties": false,
        "description": "Descriptive information about the solar inverter"
      },
      "InverterLocation": {
        "type": "object",
        "properties": {
          "longitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "Longitude in degrees",
            "example": 10.7197486
          },
          "latitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "Latitude in degrees",
            "example": 59.9173985
          }
        },
        "required": [
          "longitude",
          "latitude"
        ],
        "additionalProperties": false,
        "description": "Solar inverter's GPS coordinates"
      },
      "InverterCapabilities": {
        "type": "object",
        "properties": {
          "productionState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Full availability of productionState data."
              }
            ]
          },
          "productionStatistics": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Availability of production statistics directly from the vendor."
              }
            ]
          }
        },
        "required": [
          "productionState",
          "productionStatistics"
        ],
        "additionalProperties": false,
        "description": "A collection of descriptors that describe the capabilities of this specific inverter.\n\nNote: [Sample-based statistics](/api/reference#getProductionStatistics) collected by Enode rely on the `productionState` capability and are not affected by this capability."
      },
      "Inverter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Solar Inverter ID",
            "example": "195d8649-ad12-4755-a9cc-44e2d40ce4d9"
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that linked this inverter.",
            "example": "f9d9b134-05f3-452a-80aa-be0deb22f492"
          },
          "vendor": {
            "$ref": "#/components/schemas/InverterVendor"
          },
          "chargingLocationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "ID of the charging location the solar inverter is currently positioned at (if any).",
            "example": "8d90101b-3f2f-462a-bbb4-1ed320d33bbe",
            "x-format": {
              "guid": true
            }
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time",
            "description": "The last time Enode received live data or when the solar inverter was initially linked.",
            "example": "2020-04-07T17:04:26Z"
          },
          "isReachable": {
            "type": "boolean",
            "description": "Whether live data from the solar inverter is currently reachable from Enode's perspective. This 'reachability' may refer to reading from a cache operated by the solar inverter's cloud service if that service has determined that its cache is valid."
          },
          "productionState": {
            "$ref": "#/components/schemas/InverterProductionState"
          },
          "information": {
            "$ref": "#/components/schemas/InverterInformation"
          },
          "location": {
            "$ref": "#/components/schemas/InverterLocation"
          },
          "timezone": {
            "type": [
              "string",
              "null"
            ],
            "description": "IANA TZ database timezone name representing the location of this inverter.",
            "example": "Europe/Oslo"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes that the user has granted for this inverter.",
            "example": [
              "inverter:read:location",
              "inverter:read:data"
            ]
          },
          "capabilities": {
            "$ref": "#/components/schemas/InverterCapabilities"
          }
        },
        "required": [
          "id",
          "userId",
          "vendor",
          "chargingLocationId",
[...]
